@model IEnumerable<Debtor>

@{
    ViewData["Title"] = "Home Page";
}

<table>
    @{
        foreach (var debtor in Model)
        {
            <tr>
                <td>@debtor.Name</td>
                <td>@Html.ActionLink("Delete", "DeleteDebtor", debtor);</td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Add debtor", "AddDebtor");
