<table>

    <tr>
        <td>
            @Html.Partial("DebtorsList")
        </td>
    </tr>

    <tr>
        <td>
            @Html.Partial("NewDebtor", new Debtor())
        </td>
    </tr>

</table>